/* 해당 디자인 기술 및 지식은 가영구 디자인측의 자산입니다 */
/* 디자인을 구입하신 '구매자'분들 외에 다른 디자인센터 판매자가 해당 소스를 훔쳐보는 경우가 있어 멘트를 남기니, */
/* 본인 능력껏, 양심껏 디자인하여 판매하시길 바랍니다 */


/* 기본 CSS */
.collection .prdpadding {margin:0 25px 80px 25px; } /* 상품들간의 간격 */

.collection {font-family: 'Montserrat', 'Nanum Gothic', sans-serif;}
.collection a:link {text-decoration:none;}
.collection a:hover {text-decoration:none; color:#000;}
.collection ul { zoom:1; width:100%; margin-bottom:0;  display: table; font-size:0;}
.collection ul a:link {text-decoration:none;}
.collection ul a:hover {text-decoration:none; color:#000;}
.collection ul:after {content:""; display:block; clear:both; }
.collection ul li { display: inline-block; vertical-align:top;}

.collection ul.grid2 > li { display: inline-block; width:50%; text-align:left; vertical-align:top;}
.collection ul.grid3 > li { display: inline-block; width:33.33%; text-align:left; vertical-align:top;}


.collection .name {clear:both; font-size:15px; margin-top:30px; margin-bottom:5px;  }
.collection .name img {vertical-align: middle;margin-left:5px; margin-top:-2px}
.collection .info { margin-top:10px; margin-bottom:15px; line-height:22px; font-size:12px; color:#444444; text-align:justify; overflow: hidden;}
.collection .bt a {font-size:12px; border-bottom:1px solid #000}