.xans-member-findidresult { border:1px solid #e9e9e9; padding:30px 0; line-height:150%; text-align:center;}
.xans-member-findidresult .findId { width:500px; margin:0 auto; }
.xans-member-findidresult .findId h3 { margin:0 0 30px 0; }
.xans-member-findidresult .findId p.info { margin:0 0 30px; font-size:20px; color:#008bcc; font-weight:bold; }
.xans-member-findidresult .findId .ec-base-box { text-align:left; }
.xans-member-findidresult .findId li label { display:inline-block; margin:0 0 5px 0; }
.xans-member-findidresult .findId .copy { margin:40px 0 0; color:#757575; }