.xans-member-findpasswdquestion { border:1px solid #e9e9e9; padding:30px 0; line-height:150%; color:#2e2e2e; }
.xans-member-findpasswdquestion .findPw { width:270px; margin:0 auto; }
.xans-member-findpasswdquestion .findPw h3 { margin:0 0 30px 0; text-align:center; }
.xans-member-findpasswdquestion .findPw input[type="text"] { width:170px; }